@tailwind base;
@tailwind components;
@tailwind utilities;

/* Asegúrate de que el body y el html ocupen el 100% de la altura */
html, body {
  height: 100%;
  margin: 0;
}

.map-container {
  height: 100%; /* El contenedor del mapa debe ocupar todo el espacio */
}

.leaflet-container {
  height: 100% !important; /* Garantiza que el mapa ocupa toda la altura disponible */
}





[dir="rtl"] .flex-row {
  flex-direction: row-reverse;
}

[dir="rtl"] .space-x-1 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 1;
}

[dir="rtl"] .space-x-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 1;
}

[dir="rtl"] .space-x-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 1;
}

[dir="rtl"] .space-x-6 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 1;
}

[dir="rtl"] .space-x-12 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 1;
}