@tailwind base;
@tailwind components;
@tailwind utilities;

/* Asegúrate de que el body y el html ocupen el 100% de la altura */
html, body {
  height: 100%;
  margin: 0;
}

.map-container {
  height: 100%; /* El contenedor del mapa debe ocupar todo el espacio */
}

.leaflet-container {
  height: 100% !important; /* Garantiza que el mapa ocupa toda la altura disponible */
}